body {
  background-color: #738fa7;
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.play-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}
.container-play {
  display: flex;
  flex-direction: column;
  width: 15%;
}
/* .wrapper-card {
} */
.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  background-image: linear-gradient(#242038, #3c817a);
  border: 1px solid #04724d;
  gap: 1rem;
  margin: 0.4rem;
}
.img-card {
  height: 120px;
  width: 160px;
  border: 1px solid #04724d;
}
.img-pile {
  height: 270px;
  width: 190px;
  margin: 0.4rem;
}
.play-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 560px;
}
.score-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
.score-container {
  border: 2px solid #04724d;
  box-sizing: border-box;
  padding: 2px;
  background-color: #242038;
  width: 5.7rem;
}
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.inputmatch {
  text-align: center;
  width: 4rem;
  height: 2rem;
}
